ul{
    list-style-type: none;
   
}
.navbar ul li{
    display: inline;
    justify-content:space-between;
    padding:0 10px;  
}
.search{
    border:transparent;
    background-color: lightslategrey;
}

.navbar ul li a{
   
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}